<!doctype html>
<html>
  <head>
    <meta lang="en" />
    <title>sys-info</title>
    <link rel="stylesheet" href="../styles/general.css" type="text/css" />
  </head>  
  <body>
    <div>
      <ul>
        <li>
          <label for="kernelName">Kernel name</label>
          <span id="kernelName"><%= kernelName %></span>
        </li>
        <li>
          <label for="nodeName">Node name</label>
          <span id="nodeName"><%= nodeName %></span>
        </li>
      </ul>
    </div>  
  </body>
</html>
