<!doctype html>
<html>
  <head>
    <meta lang="en">
    <title>sys-info</title>
  </head>  
  <body>
    <div>
      <ul>
        <li>Kernel name: <%= kernelName %></li>
        <li>Node name: <%= nodeName %></li>
      </ul>
    </div>  
  </body>
</html>
